@model IEnumerable<Haber_Sitesi.Models.Yazi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-md-12">
    <h2>Yazilar</h2>

    <p>
        @Html.ActionLink("Yeni Yazı", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Metin)
                </td>
                <td>
                    <img width="75" src="@item.Foto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.YaziID }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.YaziID }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.YaziID })
                </td>
            </tr>
        }

    </table>
</div>